<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img class="landing-image" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/i1fimdr7hkb2uvwxzfsm">
        </div>
        <div class="col-lg-6 intro" style="text-align : center">
            <h3 class="text">FREE DELIGHT FOR YOU.....</h3>
            <br/>
            <br/>
            <h5 style="color:green;">Get a Freebie on delicious dishes</h5>
            <br/>

            <!-- <button class="btn btn-outline-success">Order Now</button> -->
           
        </div>
    </div>

</div>
