h3 {
    color: rgb(200, 232, 126);
  }
  a {
    font-size: large;
  }

  /* header{
    padding: 0px 30px;

}

header ul{
    position: relative;
    left: 70px;
}

li a{
    color: black;
    font-size: 18px;
   
} */



/* .entry{
    position: relative;
    left : 800px
} */


 
  